apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev
namePrefix: dev-

resources:
  - ../../base

# Environment-specific patches
patchesStrategicMerge:
  - patch-deployment.yaml
  - patch-ingress.yaml