apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

# This "images" section lets Kustomize mutate image tags at deploy-time.
images:
  - name: myacr.azurecr.io/apps/myapp
    newTag: latest